//sass --watch scss:css

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");

#crew {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
  background-size: cover;
  height: 100vh;
  display: block;
  $clr-black: #0b0d17;
  $clr-netural-blue: #d0d6f9;
  $clr-white: #ffffff;
  $clr-white-10: rgba(255, 255, 255, 0.1);
  $clr-white-25: rgba(255, 255, 255, 0.25);
  $clr-white-50: rgba(255, 255, 255, 0.5);
  $clr-grey: #979797;
  font-family: "Barlow Condensed", sans-serif;
  //font-family: "Bellefair", serif;
  //   font-family: "Noto Serif KR", serif;
  main {
    position: relative;
    padding-bottom: 0;
    color: #ffffff;
    h3 {
      letter-spacing: 0.25rem;
      font-size: 2rem;
      span {
        color: $clr-white-25;
        margin-right: 2%;
      }
    }
    #contents {
      padding: 5% 6%;
      display: flex;
      justify-content: space-between;
      color: $clr-netural-blue;
      img {
        width: 43%;
      }
      .info-container {
        margin-left: 18%;
        width: 50%;
        ul {
          display: flex;
          gap: 5%;
        }
        li {
          padding-bottom: 0.7rem;
          border-bottom: 5px solid transparent;
          letter-spacing: 0.3rem;
          font-size: 1.5rem;
          cursor: pointer;
          text-transform: uppercase;
        }
        li:hover {
          border-color: $clr-white-50;
        }
        .selected {
          color: $clr-white;
          border-color: $clr-white !important;
        }
        h1 {
          font-size: 5rem;
          font-family: "Bellefair", serif;
          margin: 1rem 0;
          color: $clr-white;
          text-transform: uppercase;
        }
        p {
          line-height: 2;
          font-size: 1.5rem;
        }
        .bottom-container {
          display: flex;
          gap: 20%;
          .sub-info-wrap {
            h5 {
              font-size: 1.2rem;
              margin: 1rem 0;
            }
            h2 {
              font-size: 2rem;
              color: $clr-white;
              font-family: "Bellefair", serif;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
