//sass --watch scss:css

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");

#home {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  height: 100vh;
  display: block;
  $clr-black: #0b0d17;
  $clr-netural-blue: #d0d6f9;
  $clr-white: #ffffff;
  $clr-white-10: rgba(255, 255, 255, 0.1);
  $clr-white-25: rgba(255, 255, 255, 0.25);
  $clr-white-50: rgba(255, 255, 255, 0.5);
  $clr-grey: #979797;
  font-family: "Barlow Condensed", sans-serif;
  //font-family: "Bellefair", serif;
  //   font-family: "Noto Serif KR", serif;
  main {
    position: relative;
    top: 10%;
    padding: 7% 24% 0 10%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    .contents {
      width: 33%;
      h5 {
        letter-spacing: 4.72px;
        color: $clr-netural-blue;
        text-transform: uppercase;
      }
      h1 {
        margin: 2rem 0;
        font-size: 8.5rem;
        font-family: "Bellefair", serif;
      }
      p {
        font-family: "Bellefair", serif;
        color: $clr-netural-blue;
        font-size: 1.2rem;
        line-height: 1.5;
      }
    }
    .explore-button-wrap {
      width: 25rem;
      height: 25rem;
      padding: 5rem;
      border-radius: 100%;
      position: relative;
      background-color: transparent;

      .explore-button {
        background-color: #ffffff;
        width: 100%;
        display: block;
        height: 100%;
        border-radius: 100%;
        font-family: "Bellefair", serif;
        font-size: 2rem;
        border: none;
        cursor: pointer;
      }
    }
    .hovered {
      background-color: $clr-white-10;
    }
  }
}
