//sass --watch scss:css
@import "./util.scss";
@import "./common.scss";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");

#home {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-size: cover;
  min-height: 100vh;
  display: block;
  font-family: "Barlow Condensed", sans-serif;
  //font-family: "Bellefair", serif;
  //   font-family: "Noto Serif KR", serif;
  main {
    position: relative;
    top: 10%;
    padding: 7% 10%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    .contents {
      width: 33%;
      h5 {
        letter-spacing: 4.72px;
        color: $clr-netural-blue;
        text-transform: uppercase;
      }
      h1 {
        margin: 2rem 0;
        font-size: 8.5rem;
        font-family: "Bellefair", serif;
      }
      p {
        font-family: "Bellefair", serif;
        color: $clr-netural-blue;
        font-size: 1.2rem;
        line-height: 1.5;
      }
    }
    .explore-button-wrap {
      width: 25rem;
      height: 25rem;
      padding: 5rem;
      border-radius: 100%;
      position: relative;
      background-color: transparent;
      transition: background-color 0.2s;

      .explore-button {
        background-color: #ffffff;
        width: 100%;
        display: block;
        height: 100%;
        border-radius: 100%;
        font-family: "Bellefair", serif;
        font-size: 2rem;
        border: none;
        cursor: pointer;
      }
    }
    .hovered {
      background-color: $clr-white-10;
    }
  }
  @include desktop {
    padding-right: 24%;
  }
  @include tablet {
    background-image: url("../assets/home/background-home-tablet.jpg");
    height: 100%;
    main {
      flex-direction: column;
      align-items: center;
      .contents {
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        h5 {
          font-size: 20px;
          line-height: 1.2;
          letter-spacing: 3.38px;
        }
        h1 {
          margin: 1rem 0;
          font-size: 150px;
          line-height: 1;
        }
        p {
          font-size: 16px;
          line-height: 1.5;
          width: 80%;
        }
      }
      .explore-button-wrap {
        margin-top: 10rem;
        width: 22rem;
        height: 22rem;
      }
    }
  }
  @include mobile {
    background-image: url("../assets/home/background-home-mobile.jpg");
    height: 100%;
  }
}
