@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;700;800&display=swap");

:root {
  --clr-red-light: hsl(0, 100%, 67%);
  --clr-yellow-orangey: hsl(39, 100%, 56%);
  --clr-green-teal: hsl(166, 100%, 37%);
  --clr-blue-cobalt: hsl(234, 85%, 45%);
  --clr-white: hsla(0, 0%, 100%, 1);
  --clr-gray-7: hsl(0, 0%, 55%);

  --clr-red-light-screen: hsla(0, 100%, 67%, 0.1);
  --clr-yellow-orangey-screen: hsla(39, 100%, 56%, 0.1);
  --clr-green-teal-screen: hsla(166, 100%, 37%, 0.1);
  --gradients-blue-violet-screen: hsla(256, 72%, 46%, 0.1);

  --clr-neutral-white: hsla(0, 0%, 100%, 0.5);
  --clr-neutral-blue-pale: hsl(221, 100%, 96%);
  --clr-neutral-lavender: hsl(241, 100%, 89%);
  --clr-neutral-blue-gray: hsl(224, 30%, 27%);

  --gradients-blue-slate: hsl(252, 100%, 67%);
  --gradients-blue-royal: hsl(241, 81%, 54%);

  --gradients-blue-violet: hsla(256, 72%, 46%, 1);
  --gradients-blue-persian: hsla(241, 72%, 46%, 0);

  --font-weight-normal: 500;
  --font-weight-medium: 700;
  --font-weigth-bold: 800;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
//background-image: linear-gradient(red, yellow);
#resultSummaryComponentMain {
  width: 600px;
  height: 450px;
  margin: auto;
  display: flex;
  border-radius: 5%;
  box-shadow: 10px 20px 30px var(--clr-neutral-lavender);
  font-family: "Inconsolata", monospace;
  .result-card {
    background-image: linear-gradient(
      var(--gradients-blue-slate),
      var(--gradients-blue-royal)
    );
    border-radius: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      color: var(--clr-neutral-white);
      font-size: 1rem;
      font-weight: var(--font-weight-normal);
      font-family: "Inconsolata", monospace;
      margin: 1.5rem;
    }
    .score-circle {
      width: 150px;
      height: 150px;
      border-radius: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(
        var(--gradients-blue-violet),
        var(--gradients-blue-royal)
      );
      .score {
        font-size: 4rem;
        color: var(--clr-white);
        font-weight: var(--font-weigth-bold);
      }
      .rank-info {
        font-size: 0.7rem;
        color: var(--clr-neutral-white);
      }
    }
    h2 {
      color: var(--clr-white);
      margin: 2rem;
    }
    .bottom-text {
      font-size: 1rem;
      color: var(--clr-neutral-white);
      text-align: center;
      width: 70%;
      line-height: 1.3;
    }
  }

  .summary-side {
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 8%;
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 1.3rem;

      li {
        list-style-position: inside;
      }
      .summary-box {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        padding: 5%;

        h4 {
          font-size: 1rem;
          font-weight: var(--font-weight-medium);
        }
        h5 {
          color: var(--clr-gray-7);
          font-size: 0.9rem;
        }
        span {
          color: var(--clr-neutral-blue-gray);
        }
      }
    }

    .reaction {
      background-color: var(--clr-red-light-screen);
      color: var(--clr-red-light);
    }
    .memory {
      background-color: var(--clr-yellow-orangey-screen);
      color: var(--clr-yellow-orangey);
    }
    .verbal {
      background-color: var(--clr-green-teal-screen);
      color: var(--clr-green-teal);
    }
    .visual {
      background-color: var(--gradients-blue-violet-screen);
      color: var(--gradients-blue-violet);
    }

    .continue-button {
      width: 90%;
      height: 10%;
      border-radius: 30px;
      background-color: var(--clr-neutral-blue-gray);
      color: var(--clr-white);
      border: none;
    }
    .continue-button:hover {
      background-image: linear-gradient(
        var(--gradients-blue-violet),
        var(--gradients-blue-royal)
      );
    }
  }
}

@media (max-width: 800px) {
  #resultSummaryComponentMain {
    width: 100%;
  }
}
