@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
body {
  background-size: cover;
  height: 100vh;
  display: block;
  font-family: "Barlow Condensed", sans-serif;
}
header {
  border-top: 40px solid transparent;
  border-left: 55px solid transparent;
  display: flex;
  height: 12%;
  justify-content: space-between;
}
header nav {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  width: 60%;
  display: flex;
  align-items: center;
  gap: 5%;
  padding-left: 8%;
}
header nav a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2.7px;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  border-bottom: 3px solid transparent;
}
header nav a span {
  font-weight: bold;
  margin-right: 12px;
}
header nav a:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
header nav .selected {
  border-color: #ffffff !important;
}
header nav::before {
  content: "";
  width: 55%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  right: 98%;
}
main {
  padding: 5% 8%;
  height: 88%;
}
