/* Error: Undefined mixin.
 *    ,
 * 58 | / @include desktop {
 * 59 | |   header {
 * 60 | |     border-top: 40px solid transparent;
 * 61 | |     border-left: 55px solid transparent;
 * 62 | | 
 * 63 | |     ul {
 * 64 | |       counter-reset: list-number;
 * 65 | |       a {
 * 66 | |         counter-increment: list-number;
 * 67 | |       }
 * 68 | |       a::before {
 * 69 | |         content: "0" counter(list-number);
 * 70 | |         font-weight: bold;
 * 71 | |         margin-right: 12px;
 * 72 | |       }
 * 73 | |     }
 * 74 | | 
 * 75 | |     nav::before {
 * 76 | |       content: "";
 * 77 | |       width: 55%;
 * 78 | |       height: 1px;
 * 79 | |       background-color: rgba(255, 255, 255, 0.25);
 * 80 | |       position: absolute;
 * 81 | |       right: 98%;
 * 82 | |     }
 * 83 | |   }
 * 84 | \ }
 *    '
 *   scss\common.scss 58:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 58 \2502  \250c  @include desktop {\a 59 \2502  \2502    header {\a 60 \2502  \2502      border-top: 40px solid transparent;\a 61 \2502  \2502      border-left: 55px solid transparent;\a 62 \2502  \2502  \a 63 \2502  \2502      ul {\a 64 \2502  \2502        counter-reset: list-number;\a 65 \2502  \2502        a {\a 66 \2502  \2502          counter-increment: list-number;\a 67 \2502  \2502        }\a 68 \2502  \2502        a::before {\a 69 \2502  \2502          content: "0" counter(list-number);\a 70 \2502  \2502          font-weight: bold;\a 71 \2502  \2502          margin-right: 12px;\a 72 \2502  \2502        }\a 73 \2502  \2502      }\a 74 \2502  \2502  \a 75 \2502  \2502      nav::before {\a 76 \2502  \2502        content: "";\a 77 \2502  \2502        width: 55%;\a 78 \2502  \2502        height: 1px;\a 79 \2502  \2502        background-color: rgba(255, 255, 255, 0.25);\a 80 \2502  \2502        position: absolute;\a 81 \2502  \2502        right: 98%;\a 82 \2502  \2502      }\a 83 \2502  \2502    }\a 84 \2502  \2514  }\a    \2575 \a   scss\\common.scss 58:1  root stylesheet';
}
